.tabbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #333;
}

.tabbar_list {
    display: inline-block;
    width: 33%;
    height: 100px;
    line-height: 100px;
    color: white;
    text-align: center;
}

.color_green {
    color: greenyellow;
    display: inline-block;
    width: 33%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}