.home {}

.searchBoxM {
    margin-top: 50%;
    text-align: center;
}

.searchBoxT {
    width: 100%;
    margin-bottom:20px;
    p,
    input,
    div {
        display: inline-block;
        vertical-align: middle;
    }
}

.tittle {
    font-size: 30px;
}

.showBox {
    width: 100%;
    margin-bottom: 20px;
    li {
        display: inline-block;
        width: 250px;
        text-align: center;
    }
    .songImg{
        width:150px
    }
}

.musicPlayer{
    height:100px;
    border:1px solid black;
    width: 100px;
}

